@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #000;
  color: white;
}

.glitch-capybara {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100px;
  animation: glitch 1.5s infinite;
  z-index: 0;
  opacity: 0.75;
}
